[-insert: header.tmpl -]


<h2>Template 0.1 test</h2>

This is a template tests for version 0.1 of Scramjet's templates. The 
features tested are:
<ul>
    <li> inserts (on header and footer) </li>
    <li> escaping: \[[varescapada\]]</li>
</ul>

Vars:<p>
<ul>
<li>debug: [[userarg_debug]]</li>
<li>security: [[userarg_security]]</li>
<li>anumber: [[userarg_anumber]]</li>
</ul>

[-insert: footer.tmpl -]
